<div class="top-bar">
    <div class="top-bar-title"><strong>New System</strong></div>
    <div class="top-bar-right">
        <ul class="menu">
          <li>
              <button type="button" class="button alert" ng-click="setState('MAIN')">
                  <i class="fi-x"></i>
              </button>
          </li>
        </ul>
    </div>
</div>
<div class="expanded row" ng-hide="!state('SETTINGS')" ng-controller="addNewController">
    <div class="row">
        <fieldset class="fieldset">
            <legend>Emulator exe path</legend>
            <div class="large-1 column">
                <label for="exepath" class="button"><i class="fi-upload"></i></label>
                <input type="file" id="exepath" class="show-for-sr" onchange="angular.element(this).scope().fileChanged('exe', this)">
            </div>
            <div class="large-11 columns end">
                {{system.path.exe}}
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="fieldset">
            <legend>Rom paths</legend>
            <div class="large-1 column" ng-class="{'end':system.path.roms.length === 0}">
                <label for="rompath" class="button"><i class="fi-upload"></i></label>
                <input type="file" id="rompath" class="show-for-sr" onchange="angular.element(this).scope().fileChanged('roms', this)"/>
            </div>
            <div ng-repeat="path in system.path.roms track by $index" class="large-11 columns">
                <div class="large-11 columns">
                    {{path}}
                </div>
                <div class="large-1 column end">
                    <a href="#" ng-click="removeRomPath($index)"><i class="fi-x"></i></a>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="fieldset">
            <legend>Flags</legend>
            <div class="large-2 columns">
                <label>Emulator is mame?</label>
            </div>
            <div class="large-2 columns">
                <input type="radio" name="ismame" value="true" ng-model="system.ismame" id="ismametrue" required><label for="ismametrue">yes</label>
                <input type="radio" name="ismame" value="false" ng-model="system.ismame" id="ismamefalse"><label for="ismamefalse">no</label>
            </div>
            <div class="large-2 columns">
                <label>Emulator may generate roms list?</label>
            </div>
            <div class="large-2 columns">
                <input type="radio" name="romlist" value="true" ng-model="system.generateRomList" id="generateRomListTrue" required><label for="generateRomListTrue">yes</label>
                <input type="radio" name="romlist" value="false" ng-model="system.generateRomList" id="generateRomListFalse"><label for="generateRomListFalse">no</label>
            </div>
            <div class="large-2 columns">
                <label>Audit roms?</label>
            </div>
            <div class="large-2 columns">
                <input type="radio" name="audit" value="true" ng-model="system.audit" id="auditTrue" required><label for="auditTrue">yes</label>
                <input type="radio" name="audit" value="false" ng-model="system.audit" id="auditFalse"><label for="auditFalse">no</label>
            </div>
        </fieldset>
    </div>
    <footer>
        <div class="row expanded">
            <div class="large-12 columns end clearfix">
                <a href="#" ng-click="save()" class="button success float-right">Save</a>
            </div>
        </div>
    </footer>
</div>
