<div class="row">
    <div ng-controller="systemsController" class="large-3 columns">
        <div class="large-12 columns end" style="background-color:#dedede">
            <strong>Systems</strong>
        </div>
        <div class="large-12 columns end" ng-repeat="system in systems track by $index">
            {{system.name}}
        </div>
    </div>
        <div ng-controller="romsController" class="large-3 columns">
            <h1>Roms</h1>
        </div>
    <div ng-controller="detailsController" class="large-6 columns">
        <h1>Details</h1>
    </div>
</div>
